<h1>Add a tweet</h1>
<% if session[:user_id] %>
  <form action="/tweet" method="POST">
    <p><strong>User: </strong> <%= @user.name %> <input type='hidden' name="user_id" value="<%= @user.id %>"></p>
    <p><strong>Status: </strong> <input type='text' name="status"></p>
    <input class="btn btn-primary" type="submit">
  </form>
<% else %>
<h2> Sorry sign in first </h2>
<% end %>

      